.title{
    margin-top: 50px;
    margin-bottom: 75px;
    background-color: rgb(219, 238, 253);
    height: 400px;
    color: black;
    display: flex;
    justify-content: space-around;
}

.title-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Inconsolata', monospace;
    margin-top: 5px;
    margin-bottom: 0%;
} 

.title img{
    width: 500px;
    justify-content: center;
}

.card{
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.card-body{
    background-color: rgb(219, 238, 253);
}

.list-shop{
    margin-top: 30px;
    margin-right: 10px;
}

.list-shop a{
    margin-top: 15px;
}


@media (max-width: 800px){
    .title{
        display: flex;
        flex-direction: column;
    }

    .title-text{
        flex-direction: row-reverse;
    }

    .title-img{
        justify-content: center;
    }

    .title img{
        width: 300px;
        justify-content: center;
    } 
}

@media (max-width: 600px){
    .row{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .card{
        margin: 0%;
    }
}
